<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lithetyst"
    android:configChanges="locale"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:name="android.hardware.wifi" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Retro" >
        <activity
            android:name="com.example.lithetyst.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.lithetyst.SettingsMenuActivity"
            android:label="@string/title_activity_settings_menu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lithetyst.MainActivity" />
        </activity>
        <activity
            android:name="com.example.lithetyst.SyncActivity"
            android:label="@string/title_activity_sync" >
        </activity>

        <service
            android:name="com.example.lithetyst.MuteService"
            android:enabled="true" />
        <service
            android:name="com.example.lithetyst.UnmuteService"
            android:enabled="true" />

        <receiver android:name="com.example.lithetyst.MuteReceiver" />
        <receiver android:name="com.example.lithetyst.UnmuteReceiver" />

        <activity
            android:name="com.example.lithetyst.DayActivity"
            android:label="@string/title_activity_day" >
        </activity>
    </application>

</manifest>
